@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.dark.900');
  color: theme('colors.white');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


